{%extends 'pendientes/base.html'%}


{%block content%} 

{%load crispy_forms_tags%}


<br><section id="contacto" class="section-padding">
    <div class="container">
    </div>

    <form class="form-horizontal" action=""  method="POST">
      {% csrf_token %}
	    
                
      <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
          <h3 class="card-title text-center"  >Cambiar Contraseña</h3>
    
          {{form | crispy }}
          <button href="{%url 'home'%}" class="btn btn-sm btn-primary"> Regresar </button>
          <button type="submit" id="submit" class="btn btn-sm btn-success float-end"> Cambiar </button>		
        </div>
       
      </div>
				

				
	</form>

  </section>

{%endblock%}