{%extends 'pendientes/base.html'%}


{%block content%} 

{%load crispy_forms_tags%}
<h3>Registrarse</h3>

<br><section id="contacto" class="section-padding">
    

    <form  action=""  method="POST">
      {% csrf_token %}
	    
                
      <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">Completa los Campos!!</h5>
    
          {{form | crispy }}

          
          <button type="submit"  class="btn btn-sm btn-success float-end"> Registrar </button>		
        </div>
       
      </div>
				

				
	</form>

  </section>

{%endblock%}